div#navsidemenu{display:none;}
div#container {
margin: 0 auto;
}
.sticky{
position:relative;
}

body{font-size:10px;}

img.session_img {
width: 200px;
display:block;

}
a:after {content:"";}
a[href^=http]:after {	content:" <" attr(href) "> ";}

#currentmeasures{border:none;border-collapse:inherit;}
#currentmeasures td{border:none;padding-bottom:20px !important;text-align:left;}
