/* --- Login Form ---- */

#loginform,.addnewform{
	display:block;
	width:400px;
	margin:auto;
	padding:30px;
	border-radius:20px;
	background:#eee;
}

.addnewform{width:800px;font-size:11pt;}

#loginform span,.addnewform span{
display: inline-block;
width: 127px;
text-align: right;

}
#loginform input[type=text],#loginform input[type=password],.addnewform input[type=text],.addnewform input[type=date],.addnewform input[type=time],.addnewform input[type=password],.addnewform select{
display:inline-block;border-width:1px;background:white;padding:5px;margin-bottom: 7px;vertical-align: middle;}
input[type=time]{width:82px;}
.addnewform textarea{vertical-align:top;display:inline-block;width:200px;border-width:1px;background:white;border-radius:10px;padding:5px;}
input:disabled{background:#ccc !important;}
/*
.submitbutton,.session_input:not(.addsession) button{
	border:none;
	background:black;
	color:white;
	font-family: Trebuchet MS, sans-serif;
	border-radius:10px;
	padding:5px 20px;
	margin:16px auto;
	cursor:pointer;
	display:block;
}

.submitbutton:hover,.session_input:not(.addsession) button:hover{background:#222;}
*/


/*----- Main Styles ---*/

body{
	font-family: Arial, sans-serif;
	padding:10px;
}

div#container {
    margin: 50px auto 20px auto;
	/*max-width:1000px;*/
}

div#header{margin:20px;}
div#header img{float:left;}

div.navbar-header img {
max-height: 50px;
float: left;
margin: 0 10px 0 0;
}

div#toolbar{width:100%;padding:10px;}

button.link-btn a{width:100%;min-height:20px;color:white;font-weight:bold;}
button.link-btn a:hover{text-decoration:none;}
#toolbar div{display:inline-block;padding:10px;vertical-align: middle;}
#toolbar div.first{border:none;}
#toolbar  div h2{margin:0px;padding:0px;}
#toolbar div div {display: block;padding: 0px;}
.floatbreak{clear:both;float:none;}
select#filter_type{height: 70px;min-width:160px;vertical-align: middle;margin: 10px 5px;display: inline-block;width: auto;}
#filtered ul{list-style-type:none;display:inline-block;padding:0px;}
#filtered ul li{display:inline-block;background:#bbb;border-radius:5px;padding:2px;margin:2px;}

div#container h1{
text-align:center;
}

#bignav {
width: 95%;
margin: 0px auto;
padding:0px;
text-align: center;
}

#bignav li{display:inline-block;margin:5px 2px;}
#bignav button{border-radius:10px;margin-bottom:4px;}
#bignav button a{
display: block;
min-width: 150px;
padding: 10px;
text-align: center;
color: white;
font-weight: bold;
text-decoration: none;
height: 111px;
vertical-align: middle;
position: relative;
}

#bignav button a img{
max-height: 64px;
margin-top: 5px;}

#bignav li a:hover{
	background: #007700;
}

#loading{margin:100px auto;text-align:center;width:800px;}
.session_input{
	margin:auto;
	padding:10px;
	width:98%;
}
.session_input.start_hidden{display:none;}
.session_input:not(.addsession) button{display:inline-block;margin: 30px 20px 0 20px;}
.session_input.yp button{}
.session_input table button{margin:5px;}
.session_input .buttons{margin:20px;text-align:center;}
.session_input .buttons button{margin:auto 20px;text-align:center;}
.session_input input[type=text],.session_input input[type=password],.session_input select{width:495px;}
.session_input input[type=text].time{width:60px;}
.session_input input[type=text].date{width:100px;}
.session_input input[type=date]{width:150px;}

.session_input input.short, .session_input select.short{width:200px;}
#contact_type_area {display: inline-block;width: 495px;vertical-align: middle;}
#contact_type_area span{display: inline-block;width: 143px;text-align: left;}
.session_input label{display:inline-block;width:200px;text-align:right;padding-right:15px;vertical-align: middle;}
.session_input label.full{display:block;width:auto;text-align:left;}
.session_input label.center{text-align:center;}
.session_input label.radio{display:inline-block;width:75px;text-align:left;vertical-align:middle;}

.session_input textarea.splitnotes{display:none;}

.loadingrow{display:none;}

.session_input textarea{width:495px;height:100px;margin-bottom:10px;vertical-align: middle;}

.session_input table{
border-bottom: 1px solid gray;
border-radius: 7px;
padding: 5px;
border-spacing:0px;}
.session_input table th{border-bottom:1px solid gray;}
.session_input table tr.toprow th{border:none;background:#4E4E4E;color:#fff;border-radius:5px;}
.session_input table td.ml{text-align:center;}
.session_input table td{vertical-align: middle !important;padding: 1px 10px !important;}
.session_input table tr#noyp td{text-align:center;}
.session_input table tr.leader td{font-weight: bold;background: #B6B6B6;}
.session_input table.sessiontable{margin-left:205px;width: 495px;}
.session_input td.id {display: none;}
.session_input .helptext{margin-left: 220px;color: #333;font-size: 12px;text-align: center;line-height: 200%;}
.session_input #sgdetails{width: 100%;}
.session_input label.small{width: 175px;
display: inline-block;
text-align: left;}
.ui-widget{font-size:12px !important;}
#viewcontact{display:none;font-size:12px;}
#viewcontact .session_input{width:auto;border:none;}

.addproject{border:1px solid #222;border-radius:5px;margin:10px;padding: 10px;float:left;}
.addproject label{display:inline-block;width:200px;text-align:right;padding-right:15px;padding-bottom:10px;vertical-align: middle;}
.addproject input[type=text],.addproject select{width:300px;display: inline-block;}

#newconsentp,#newinterestp{width:26%;}
#consentlist,#interestlist{display:inline-block;vertical-align: middle;width: auto;text-align:right;}
#consentlist ul,#interestlist ul{list-style-type: none;}
#consentlist ul span,#interestlist ul span{display: inline-block;
padding: 0px 6px 0 20px;
color: red;
font-weight: bold;
font-size: 10pt;
width: auto;
float: right;}
#newconsentsubmit,#newinterestsubmit{margin:0px;}
#consentlist li,#interestlist li{
background: #ddd;
border-radius: 5px;
text-align: right;
padding: 0px 0px;
margin: 4px 0px;
min-width: 300px;
}
.delconsent,.interestconsent{cursor:pointer;}


td.missing {background: rgb(255, 153, 153);}

.ui-datepicker-title select{color:black;}
input[type=date]{line-height:inherit;}

img.session_img {
max-width: 50%;
max-height: 300px;
padding: 8px;
}


/*---- Tables ----*/

#filterdiv{width:500px;float:right;}
#staff,#contacts,.cre8table{clear:both;margin:15px auto;border-collapse:collapse;font-size:10pt;background:white;width:auto;}
#staff th,#contacts th,.cre8table th{color:white;background:#007700;font-weight:bold;padding:10px 4px 10px 4px;cursor:pointer;text-align: center;}
.sticky{position:fixed;top:50px;}
.stickyB{position:fixed;top:100px;}
/*.sticky th{position:relative;left:-2px;}*/

#staff td,#contacts td,.cre8table td{
min-width: 50px;
text-align: center;
border: 1px solid #ccc;
padding: 4px;
vertical-align: middle;
}
.project{
font-size: 9px;
width: 20px;
min-width: 10px !important;
 }
 
td.project.active.consented.valid{
background:url(../img/tick.png) center center no-repeat; 
}

td.project.active.consented.old{
/*background:url(../img/exclamation.jpg) center center no-repeat; */
background:url(../img/tick.png) center center no-repeat; 
}

td.project.consented.valid{
background:url(../img/form.png) center center  no-repeat;
}

td.project.consented.old{
/*background:url(../img/oldform.png) center center  no-repeat;*/
background:url(../img/form.png) center center  no-repeat;
}
 
td.project.active:not(.consented){
/*background:url(../img/exclamationred.jpg) center center  no-repeat;*/
background:url(../img/tick.png) center center no-repeat; 

}
 
#staff tr.clickable_staff,#contacts tr.clickable_contact,.cre8table tr.clickable_yp, .cre8table tr.clickable_session{cursor:pointer; border:none;border-bottom:2px solid #ccc;}
#staff tr.odd td,#contacts tr.odd td,.cre8table tr.odd td{background:#fafafa;}
#staff tr.clickable_staff:hover td,#contacts tr.clickable_contact:hover td,.cre8table tr.clickable_yp:hover td:not(.project),.cre8table tr.clickable_session:hover{background:#aaa;}

#sessionsummary{width:800px;margin:auto;border-radius:10px;padding:20px;background:#eee;}
table#summarytable{border-radius:4px;background:white;border-collapse:separate;border-spacing:4px;}
table#summarytable td,table#summarytable th{border:1px solid gray;border-radius:4px;}
table#summarytable td.field{
font-weight: bold;
background: rgb(187, 187, 187);
}
#sessionsummary button{margin:10px;}

table.summary{
	border-collapse:collapse;
	padding:3px;
	width:80%;
	border:1px solid black;
	padding:5px;
	text-align:center;
	margin:auto;
}


table.summary th{border:1px solid gray;color:white;background:#555;}
table.summary td{border:1px solid gray;}

table.addsession{
	width:80%;
	border:1px solid black;
	padding:5px;
	text-align:center;
	border-collapse:collapse;
}
table.addsession th{background:black;color:white;}
table.addsession td{border:1px solid gray;}

div#activeprojectsdiv{min-width:600px;background:#ccc;border-radius:10px;}
table#activeprojects{
float:left;
margin:10px;width:auto;
}
table#activeprojects th{padding:5px;}
/*----Nav menu ----*/
#navsidemenu{position:fixed;top:0px;left:0px;width:200px;clear:both;}



#navmenutoggle {
    padding: 5px;
    margin: 3px;
    background: none repeat scroll 0% 0% #B4441C;
    cursor: pointer;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    color: #FFF;
    border-radius: 5px;
    width: 170px;
}

#navmenutoggle:hover{
background:#9c3b18;
}

#navsidemenu .arrdown{display:none;}
#navsidemenu .arrup{display:inline-block;}
#navsidemenu:hover #navmenu{display:block;}
#navsidemenu:hover .arrdown{display:inline-block;}
#navsidemenu:hover .arrup{display:none;}

#navmenu {
	display:none;
    float: left;
    margin: 3px;
    padding: 3px;
    list-style-type: none;
    font-family: Arial;
    font-size: 11px;
    background: none repeat scroll 0% 0% #C5C5C5;
    width: 170px;
}

#navmenu li {
text-align: center;
}

#navmenu a:hover {
background: #eee;

}
#navmenu a {
    display: block;
    font-weight: bold;
    background: url('../img/bbacksm.png') repeat scroll 0% 0% transparent;
    padding: 6px;
    margin: 5px;
    text-align: center;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

#navmenu fieldset{margin:10px;background:white;padding:8px;text-align:left;border-radius: 5px;}
#navmenu fieldset legend{background:white;}

#toolbar fieldset legend{margin-bottom:2px;}


  
  
  /*-------------- Pop Up Forms ------------------------*/
  
  
#editcontact input[type=text]{
	width:200px;
}

#editcontact textarea,#editstaff textarea{vertical-align:top;}

/*#editstaffform .session_input{border-top:2px solid #070;}*/
#editstaffform .session_input h2{border-bottom:2px solid #070;}


/*------------ Search Sessions ---------*/

.searchopt{display:none;text-align: center;}
.searchopt select[multiple]{height:200px;width:440px;vertical-align:middle;}
.searchopt label{display:block;}

#searchsessions{float:left;margin-right: 10px;}
#searchoptions{padding: 15px 0px;
background: #ddd;
border-radius: 5px;
margin: 0px;
width: 510px;}
#searchoptions label{display:inline-block;width:250px;text-align:right;padding:3px;margin:10px 0px;}
#searchoptions input:not(.date){display:inline-block;width:50px;}
#searchoptions input[type='radio']{display:inline-block;width:20px;}

#showresults p{margin:10px;}
#sessionresults{clear:none;}

.ui-front{z-index:2000 !important;}

.ui-autocomplete-loading {
	background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat;
}
	

/*------------------ Responsive -------------------*/

@media (min-width: 768px){
.container {width: 873px !important;}
.navbar-collapse {width: 940px;}
}

/* ------------------ Chart -------------------*/
#myChart{display:none;}

ul.radar-legend li span{
display: inline-block;
height: 40px;
width: 40px;
vertical-align: middle;
}

ul.radar-legend li {
padding:10px;
}

/* ---------------- Reports ----------------*/

#reportfields{width: 80%;
margin: auto;}

.reportfield h3{
	float:left;
	margin:0 20px;
}

.reportfield {
border: 1px solid rgb(168, 168, 168);
padding: 20px;
margin: 5px;
text-align: right;
background: #E5E5E5;
cursor:move;
}

.start-hidden{display:none;}

.delcol {
float: left;
color: red;
font-weight: bold;
cursor: pointer;
}

#reportform{text-align: center;
margin: auto;
width: 90%;}

#reportoptions{border: 1px solid gray;
width: 80%;
margin: auto;
padding: 20px;}

#reportoptions div:not(.floatbreak){float:left;text-align:right;}

#reportoptions label{width:300px;margin-right:20px;}
#reportoptions select{width:200px;}

.hidecol{display:none;}

/*-------- Measures ------*/

.previnterviews{cursor:pointer;}
#yptable{min-width:500px;width:60%;}

tr.previnterviews:hover{background:#ddd;}
